<!doctype html>
<html>
  <head>
    <title>Socket.IO chat</title>
    <link rel="stylesheet" href="/styles/bootstrap.min.css" media="screen">
  </head>
  <body>
    <%- include('partials/header.ejs') %>
    <%- body %>
    <%- include('partials/footer.ejs') %>
  </body>
</html>
