* {
  margin: 0;
  padding: 0;
}
body, html {
  height: 100%;
  width: 100%;
}
body {
  font: 13px Helvetica, Arial;
}

ul {
  list-style-type: none;
}

/* CHAT BOX */

  /* SEND MESSAGE FORM */
    form {
      background: #000;
      padding: 3px;
      position: fixed;
      bottom: 0;
      left: 0;
      width: inherit;
    }
    form input {
      border: 0;
      padding: 10px;
      width: 90%;
    }
    form button {
      width: 10%;
      background: rgb(130, 224, 255);
      border: none;
      padding: 10px;
    }

  /* MESSAGES BOX */
    #messages {
      margin: 0;
      padding: 0;
    }
    #messages li, p {
      padding: 5px 10px;
    }
    #messages li:nth-child(odd) {
      background: #eee;
    }

    #messages li:nth-of-type(1n+15) {
        display: none;
    }

/* ONLINE USERS */

  #online-users-box {
    padding: 5px;
  }

  #online-users-list {
    border-left: 1px solid black;
    height: 100vh;
    padding-left: 2.5%;
  }
