<div class="jumbotron" align="center">

  <h2>Welcome to the chat app!</h2>
  <p>This app was made through sweat and blood by an apsiring developer!</p>

  <a href="/signup" class="btn btn-info">Signup</a>
  <a href="/login" class="btn btn-warning">Login</a>
</div>
